*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #6C0816;
}

body{
    font-family: 'Georgia';
}

.about__info{
	width: auto;
	border: 1px dotted gray;
	margin: 20px;
	padding: 20px;
	background: #800919;
}

.h1{
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F0E6E7;
}

.p{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #D1CACB;
}